/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Responsive Images----------------- */
img{
  max-width:100%;
  height:auto;
}

/* ---------------Utility Classes----------------- */

.container{
  width:90vw;
  margin: 60px auto;
}

.img-right{
  float:right;
  margin:20px 0 20px 40px;
  border:1px solid #c0c0c0;
  padding:5px;
}

.img-left{
  float:left;
  margin:10px 20px 10px 0;
  border:1px solid #c0c0c0;
  padding:5px;
}

/* ---------------Global Styles----------------- */

body {
  margin:0;
  font-family:'Itim', cursive;
  line-height:2.5;
}

h1, h2, h3,h4,h5,h6{
  font-family:'Dancing Script', cursive;
}

header.primary{
background-color:#6C3B89;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
text-align:center;
color:#EBE5E4;
text-shadow: 2px 2px #000000;
/* Long Form* */  
padding-top:60px;
padding-right:60px;
padding-bottom:40px;
padding-left:60px;
/* T,R,B,L */
padding:60px 60px 40px 60px;  
/* Top/Bottom  Right/Left */
padding: 40px 60px;
}

header.primary h1{
  font-size:3.2rem; 
  margin: 20px 0;
}

header.primary h1 a{
  display:inline-block;
  width:60vw;
  margin:0 auto;
  color:#ffffff;
  text-decoration:none;
  background:url("https://assets.codepen.io/7248/masthead_1.png");
  
  /* Path to img directory from Stylesheet 
  
  background:url("../img/masthead.png");
  
  */
  
  /* Image Replacement */
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

header.primary h2{
  font-size:2rem;
  /* Top | Left/Right | Bottom */
  margin: 20px auto 40px;
}

header.primary nav{
  width:70vw;
  margin:20px auto;
  max-width:900px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav a:link, header.primary nav a:visited{
color:#fff;  
text-decoration:none;
background-color:#000;
background-color:rgba(0,0,0,.4);
padding:8px 16px;
border-radius: 20px;
transition:.5s;
}

header.primary nav a:hover, header.primary nav a:active{
background-color:rgba(0,0,0,.8);
}


#intro{
  border-bottom: 1px dotted #c0c0c0;
  padding-bottom:1.5rem;
}


#intro h2{
  color:#3b638b;
}

#intro p{
  line-height:1.5;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  /* Shorthand */
  flex-flow: row space-between;
  border-bottom: 1px dotted #c0c0c0;
  padding-bottom:2.6rem;
}

#content article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  padding:.7em;
  border-radius:10px;
  font-size:.7rem;
  transition:.5s;
}

#content article.post:hover{
   box-shadow:0 8px 16px rgba(0,0,0,.4);
}

#content .post figure{
  margin:0;
}

#content article time, #content article figcaption, #content article footer{
  font-size:.8em;
  text-transform:uppercase;
  color:#c0c0c0;
}

#content article img{
  border-radius:8px;
}

#content article a:link, #content article a:visited{
  color:#3b638b;
}

#content article a:hover,#content article a:active{
  text-decoration:none;
}
/* Attribute Selectors */
aside[role="complementary"]{
 background-color:#172635; 
 color:#EBD8ED;
 padding:2.2rem;
}

aside .container{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

aside article.widget{
  width:40%;
}

aside a:link, aside a:visited{
  color:white;
  display:block;
  margin-top:20px;
}

aside footer{
  display:none;
}

#colophon{
  background-color:#D0E9C4;
}

#colophon h6{
  padding:20px;
  margin:0;
  color:#fff;
  text-align:center;
  font-size:.8rem;
  text-transform:uppercase;
}

#additional-elements h2{
  color:#3b638b;
  border-bottom:1px dotted #c0c0c0;
}

#additional-elements a:link, #additional-elements a:visited{
  color:#3b638b;
}

#additional-elements a:hover, #additional-elements a:active{
  text-decoration:none;
}

#additional-elements h3{
  clear:both;
  border-left: 8px solid #3b638b;
  padding:10px;
}

table{
  width:100%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
  margin-bottom:40px;
}

table td{
  border:1px solid #c0c0c0;
  padding:5px;
}

table th{
  background-color:#172635;
  color:#fff;
  width:33%;
  padding:10px;
}

table tr:nth-child(even){
  background-color:rgba(0,0,0,.1);
}

table tr:hover{
  background-color:rgba(0,0,0,.2);
}

table caption{
  color:#3b638b;
  padding:10px;
  font-weight:bold;
  font-size:1.4rem;
}

#additional-elements ol{
  list-style-type:upper-roman;
}


#additional-elements ul{
  list-style-type:square;
}

#additional-elements ul li ul{

}

#additional-elements dl{
  
}

#additional-elements dt{
  font-weight:bold;
  font-size:1.2rem;
}

#additional-elements dd{
  margin:0;
}

/* Adjacent Sibling Combinator */

dd + dt {
  margin-top:20px;
}

blockquote{
  background:rgba(0,0,0,.15);
  padding: 40px 60px;
  border:5px double #c0c0c0;
  border-radius:16px;
  font-size:1.2em;
}

blockquote cite{
  display:block;
  font-size:.6rem;
  font-weight:bold;
  text-align:right;
  margin-top:1.5rem;
}












/* Media Query Example */

@media screen and (max-width:690px){
  
  header.primary nav ul{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  margin:0 auto;
}
  
  header.primary nav a{
    display:inline-block;
  }
  
  header.primary nav li{
    margin-bottom:10px;
  }  
}





